*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center{
  position:absolute;
  border: 2px solid red;
  width:300px;
  height:200px;
  left:50vh;
  top:20vh;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(73, 79, 82);
  color: white; 
  width: 100%; 
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}